@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}

.footer{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 14, 14, 0.511);
    flex-direction: column;
    margin-top: 100px;
}
.column1{
    width: 89%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.footer1{
    width: 36%;
    height: 350px;
    /* border: 1px solid black; */
}
.footer-title{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    font-size: 18px;
    display: flex;
    align-items: center;
    /* font-weight: 500; */
    font-family: "Poppins", sans-serif;
    color: white;
}
.footer-logo{
 width: 35%;
 height: 70px;
 /* border: 1px solid white; */
 background-image: url(/src/assets/1mixlabphoto/Logo/Logo_Pahaba.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: start;
}
.footer-circle{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: #fff;
    background-image: url(/src/assets/contact/icon_1.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.footer-circle1{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: #fff;
    background-image: url(/src/assets/contact/icon_2.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.street{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.location1{
    width: 73%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap: 10%;
}
.footer2{
    width: 15%;
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 50px;
}
.footer span{
    display: inline-block;
    color: white;
    font-size: 16px;
}
.footer3{
    width: 15%;
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 50px;
}
.footer4{
    width: 20%;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.privacy{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-box{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 7%;
}
.icon-box i{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.557);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}
.icon-box i:hover{
    font-size: 20px;
    color: white;
}
.column2{
    width: 89%;
    height: 70px;
    border-top: 0.2px solid rgba(255, 255, 255, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.486);
}
@media screen and (max-width: 1175px) {
    .location{
        width: 79%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1081px) {
    .location{
        width: 84%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 998px) {
    
}

@media screen and (max-width: 1020px) {
    .location{
        width: 95%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-title{
        width: 100%;
        height: 60px;
        /* border: 1px solid black; */
        font-size: 16px;
        display: flex;
        align-items: center;
        /* font-weight: 500; */
        font-family: "Poppins", sans-serif;
        color: white;
    }
    .location1{
        width: 100%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        gap: 10%;
    }
    
}

@media screen and (max-width: 931px) {
    .location{
        width: 100%;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 685px) {
    .footer1{
        width: 100%;
        height: 350px;
        /* border: 1px solid white; */
    }
}

@media screen and (max-width: 608px) {
    .column1{
        width: 98%;
        height: 400px;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .location{
        width: 100%;
        height: 50px;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }
}

@media screen and (max-width: 907px) {
    .column1{
        width: 70%;
        height: 1000px;
        /* border: 1px solid white; */
        flex-direction: column;
        display: flex;
        align-items: start;
        gap: 5%;
    }
    .footer{
        width: 100%;
        height: 1200px;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(16, 14, 14, 0.511);
        flex-direction: column;
        margin-top: 100px;
    }
    .footer1{
        width: 90%;
        height: 350px;
        /* border: 1px solid white; */
    }
    .location{
        width: 76%;
        height: 50px;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-title{
        width: 100%;
        height: 60px;
        /* border: 1px solid white; */
        font-size: 18px;
        display: flex;
        align-items: center;
        /* font-weight: 500; */
        font-family: "Poppins", sans-serif;
        color: white;
    }
    .street{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    .footer2{
        width: 50%;
        height: 500px;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        gap: 10%;
        margin-top: 50px;
    }
    .footer span{
        display: inline-block;
        color: white;
        font-size: 18px;
    }
    .footer4{
        width: 50%;
        height: 500px;
        /* border: 1px solid white; */
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .icon-box i{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.557);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}

